/src/.vs/Nuevo/v16/.suo
/src/.vs/Nuevo/v16/Server/sqlite3/db.lock
/src/.vs/Nuevo/v16/Server/sqlite3/storage.ide
/src/.vs/Nuevo/v16/Server/sqlite3/storage.ide-shm
/src/.vs/Nuevo/v16/Server/sqlite3/storage.ide-wal
